<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta')%>
</head>
<body>
    <h1>carga de eproducto</h1>
    <form class="main-form" >
        <label>
            ingrese un producto
            <input type="text" name="name">
        </label>
        
        <label >
            una descripcion
            <input type="text" name="description">
        </label>
         
        <label >
            una ruta de imagen
            <input type="text" name="img">
        </label>
        <input type="submit" value="Enviar">
      
    </form>

    <script src="/js/main.js"></script>
</body>
</html>