<!DOCTYPE html>
<html lang="es">
<head>
    <head>
        <%- include('../partials/meta')%>
    </head>
</head>
<body>
    <h1>carga de imagen</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
   
    <input type="file" name="image">
    <button type="submit">enviar</button>
    enviar
</form>
</body>
